X_SONATYPE_USERNAME=<sonatype jira userame>
X_SONATYPE_PASSWORD=<sonatype jira password>
X_GPG_EXECUTABLE=gpg
X_GPG_PASSPHRASE=<gpg key password>
X_GPG_SECRET_KEYS=<gpg secret key base64 encoded - gpg -a --export-secret-keys oss@blackbelt.hu | base64 >
X_GPG_OWNERTRUST=<gpg owner trust base64 encoded - gpg --export-ownertrust | base64 > 
X_GITHUB_ACCESS_TOKEN=<github user's access token>
X_BUILD_PROFILES=release-dummy
X_RELEASE_PROFILES=release-dummy
X_DEPLOY_PROFILES=release-dummy
